{% if page.collection == "pages" %}
  <section class="mt-8" aria-label="댓글">
    <h2 class="text-delta">댓글</h2>
    <script src="https://giscus.app/client.js"
            data-repo="{{ site.giscus_repo }}"
            data-repo-id="{{ site.giscus_repo_id }}"
            data-category="{{ site.giscus_category }}"
            data-category-id="{{ site.giscus_category_id }}"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="ko"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </section>
{% endif %}
